{% extends 'base.html.twig' %}

{% block title %}Hello RssController!{% endblock %}

{% block body %}
<div class="top">
    {% for world, count in topWorlds %}
        <span>{{ world }}({{ count }})</span>
    {% endfor %}
</div>

<div class="feed">
    {% for item in feed %}
        <div style="margin-bottom: 20px">
            <div>{{ item.title }}</div>
            <div>{{ item.description|raw }}</div>
        </div>
    {% endfor %}
</div>

{% endblock %}
